.entity-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  gap: 5px;
  padding: 5px;
  box-sizing: border-box;
}

.entity-item {
  width: 100%;
}

.entity-item .living-entity {
  width: 100%;
  height: auto;
} 